# Web框架
fastapi==0.115.5
uvicorn[standard]==0.32.1
starlette==0.41.3

# 数据库
sqlalchemy==2.0.36

# 数据验证
pydantic==2.10.3
pydantic-settings==2.6.1
pydantic_core==2.27.1

# 文件上传
python-multipart==0.0.18

# 认证加密
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.2.1
cryptography==44.0.0
ecdsa==0.19.0

# 深度学习
torch==2.5.1
torchvision==0.20.1
